<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>Create User</h2>
    <form th:action="@{/admin/createUser}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" required>

        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="User's real name" required>

        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" placeholder="User's surname" required>

        <label for="age">Age</label>
        <input type="number" id="age" name="age" placeholder="User's age" required min="0">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="User's email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>

        <div>
            <label for="role">Roles</label>
            <select id="role" name="role" required>
                <option th:each="role : ${roleList}" th:value="${role.name}" th:text="${role.name}">Role Name</option>
            </select>
        </div>

        <button type="submit">Create User</button>
    </form>
    <div>
        <a th:href="@{/admin/userlist}">Back to User List</a>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" class="btn btn-warning"/>
    </form>
</div>
</body>
</html>
