<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Update User</title>-->
<!--    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
<!--    <h2>Update User</h2>-->
<!--    <form th:action="@{/admin/updateUser}" th:object="${user}" method="post">-->
<!--        <input type="hidden" th:field="*{id}" />-->

<!--        <label for="username">Username</label>-->
<!--        <input type="text" id="username" th:field="*{username}" placeholder="Username" required>-->

<!--        <label for="name">Name</label>-->
<!--        <input type="text" id="name" th:field="*{name}" placeholder="User's real name" required>-->

<!--        <label for="surname">Surname</label>-->
<!--        <input type="text" id="surname" th:field="*{surname}" placeholder="User's surname" required>-->

<!--        <label for="age">Age</label>-->
<!--        <input type="number" id="age" th:field="*{age}" placeholder="User's age" required min="0">-->

<!--        <label for="email">Email</label>-->
<!--        <input type="email" id="email" th:field="*{email}" placeholder="User's email" required>-->

<!--        <label for="password">Password</label>-->
<!--        <input type="password" id="password" th:field="*{password}" placeholder="Password" required>-->

<!--        <div>-->
<!--            <label for="role">Roles</label>-->
<!--            <select id="role" name="role" required multiple="multiple">-->
<!--                <option th:each="role : ${roleList}"-->
<!--                        th:value="${role.name}"-->
<!--                        th:text="${role.name}">Role Name</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div th:if="${not #strings.isEmpty(errorMessage)}">-->
<!--            <p th:text="${errorMessage}" class="error">Error message</p>-->
<!--        </div>-->
<!--        <button type="submit">Save Changes</button>-->
<!--    </form>-->
<!--    <form th:action="@{/logout}" method="post">-->
<!--        <input type="submit" value="Logout" class="btn btn-warning"/>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
