<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Email:
        <span th:text="${userRole.email}"></span>,
        Role: <span th:each="role : ${userRole.roles}" th:text="${role.name} + ' '"></span></a>
    <a class="nav-link text-secondary" th:href="@{/logout}"><h5>Logout</h5></a>
</nav>
<div class="container-fluid d-flex flex-column">
    <div class="row" style="height:100vh;">
        <div class="col-2 mt-3 pl-0 pr-0 bg-white">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active text-start" aria-selected="true" href="#">Admin</a>
                <a class="nav-link text-start" th:href="@{/admin/admin-info}">User</a>
            </nav>
        </div>
        <div class="col mt-3">
            <h1>Admin Panel</h1>
            <div id="adminContent">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#users"
                       role="tab" aria-controls="users" aria-selected="true">Users table</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#create"
                       role="tab" aria-controls="create" aria-selected="false">New user</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="users" role="tabpanel"
                         aria-labelledby="users-tab">
                        <div class="d-grid gap-5">
                            <div class="p-2 bg-grey border rounded-top">
                                <h5 class="text-left">All users</h5>
                            </div>
                        </div>
                        <div class="d-grid gap-1">
                            <div class="p-2 bg-white border rounded-bottom">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--                    Add user-->
                    <div class="tab-pane" id="create" role="tabpanel">
                        <div class="d-grid gap-5">
                            <div class="p-2 bg-light border rounded-top">
                                <h5 class="text-left">New user</h5>
                            </div>
                        </div>
                        <div class="d-grid gap-1">
                            <div class="p-2 bg-white border rounded-bottom">
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <form id="createForm">
                                            <div class="form-group text-center was-validated">
                                                <label for="add-user-username"><span class="font-weight-bold">Username</span></label>
                                                <input type="text" id="add-user-username" class="form-control" required>
                                            </div>
                                            <div class="form-group text-center was-validated">
                                                <label for="add-user-password"><span class="font-weight-bold">Password</span></label>
                                                <input type="password" id="add-user-password" class="form-control" required>
                                            </div>

                                            <div class="form-group text-center">
                                                <label for="add-user-first-name"><span class="font-weight-bold">First name</span></label>
                                                <input type="text" id="add-user-first-name" class="form-control" required>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="add-user-last-name"><span class="font-weight-bold">Last name</span></label>
                                                <input type="text" id="add-user-last-name" class="form-control" required>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="add-user-age"><span class="font-weight-bold">Age</span></label>
                                                <input type="number" id="add-user-age" class="form-control" required min="0" max="100">
                                            </div>
                                            <div class="form-group font-weight-bold text-center">
                                                <label for="add-user-email"><span class="font-weight-bold">Email</span></label>
                                                <input type="email" id="add-user-email" class="form-control" required>
                                            </div>
                                            <div class="form-group text-center ">
                                                <label class="font-weight-bold" for="roles">Role</label>
                                                <select class="form-control multi-select" multiple="multiple" name="roles" id="roles" size="2">
                                                    <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}"></option>
                                                </select>
                                            </div>
                                            <div class="col text-center">
                                                <button type="submit" class="btn btn-success btn-center">Add user</button>
                                                <button type="submit" class="btn delete-close-btn btn-center">Add user</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            Edit user-->
            <div class="modal fade" th:each="user : ${userList}" th:attr="id=${'editUser' + user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editFormFill">Edit User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="editForm" th:attr="data-user-id=${user.id}">
                                <input type="number" th:id="'edit-id-' + ${user.id}" readonly>
                                <div class="form-group">
                                    <label th:for="'edit-name-' + ${user.id}">Name</label>
                                    <input type="text" class="form-control" th:id="'edit-name-' + ${user.id}">
                                </div>

                                <div class="form-group">
                                    <label th:for="'edit-surname-' + ${user.id}">Surname</label>
                                    <input type="text" class="form-control" th:id="'edit-surname-' + ${user.id}" name="surname">
                                </div>

                                <div class="form-group">
                                    <label th:for="'edit-email-' + ${user.id}">Email</label>
                                    <input type="email" class="form-control" th:id="'edit-email-' + ${user.id}" name="email">
                                </div>

                                <div class="form-group">
                                    <label th:for="'edit-age-' + ${user.id}">Age</label>
                                    <input type="number" class="form-control" th:id="'edit-age-' + ${user.id}" name="age">
                                </div>

                                <div class="form-group">
                                    <label th:for="'edit-username-' + ${user.id}">Username</label>
                                    <input type="text" class="form-control" th:id="'edit-username-' + ${user.id}" name="username">
                                </div>

                                <div class="form-group">
                                    <label th:for="'edit-password-' + ${user.id}">Password</label>
                                    <input type="password" class="form-control" th:id="'edit-password-' + ${user.id}" name="password">
                                </div>
                                <div class="form-group">
                                    <label th:for="'select-roles-' + ${user.id}">Roles</label>
                                    <select class="form-control multi-select" th:id="'select-roles-' + ${user.id}" name="selectRolesName" required multiple="multiple">
                                        <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}" th:selected="${user.roles.contains(role)}">Role Name</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="edit-close-btn" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="updateUser()">Save changes</button>

                        </div>
                    </div>
                </div>
            </div>

            <!--            Delete user-->
            <div class="modal fade" th:each="user : ${userList}" th:attr="id=${'deleteUser' + user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="deleteForm" th:attr="data-user-id=${user.id}">
                                <input type="number" th:id="'delete-id-' + ${user.id}" readonly th:value="${user.id}" class="form-control" style="margin-bottom: 10px;">

                                <div class="form-group">
                                    <label th:for="'delete-name-' + ${user.id}">Name</label>
                                    <input type="text" class="form-control" th:id="'delete-name-' + ${user.id}" th:value="${user.name}" readonly>
                                </div>

                                <div class="form-group">
                                    <label th:for="'delete-surname-' + ${user.id}">Surname</label>
                                    <input type="text" class="form-control" th:id="'delete-surname-' + ${user.id}" th:value="${user.surname}" readonly>
                                </div>

                                <div class="form-group">
                                    <label th:for="'delete-email-' + ${user.id}">Email</label>
                                    <input type="email" class="form-control" th:id="'delete-email-' + ${user.id}" th:value="${user.email}" readonly>
                                </div>

                                <div class="form-group">
                                    <label th:for="'delete-age-' + ${user.id}">Age</label>
                                    <input type="number" class="form-control" th:id="'delete-age-' + ${user.id}" th:value="${user.age}" readonly>
                                </div>

                                <div class="form-group">
                                    <label th:for="'delete-username-' + ${user.id}">Username</label>
                                    <input type="text" class="form-control" th:id="'delete-username-' + ${user.id}" th:value="${user.username}" readonly>
                                </div>

<!--                                <div class="form-group">-->
<!--                                    <label th:for="'delete-role-' + ${user.id}">Role</label>-->
<!--                                    <select class="form-control" th:id="'delete-role-' + ${user.id}" multiple readonly disabled>-->
<!--                                        <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.name}" th:selected="${user.roles.contains(role)}"></option>-->
<!--                                    </select>-->
<!--                                </div>-->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" th:attr="onclick=|deleteUser(${user.id})|">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/adminPanel.js"></script>
<script src="/addRoles.js"></script>
<script src="/createForm.js"></script>
<script src="/deleteForm.js"></script>
<script src="/editForm.js"></script>
<!--<script src="/userPage.js"></script>-->
</body>
</html>
