<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Spring Security Example</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>User, welcome!</h1>-->

<!--<div>-->
<!--    <p>Username: <span th:text="${user.username}"></span></p>-->
<!--    <p>Name: <span th:text="${user.name}"></span></p>-->
<!--    <p>Surname: <span th:text="${user.surname}"></span></p>-->
<!--    <p>Age: <span th:text="${user.age}"></span></p>-->
<!--    <p>Email: <span th:text="${user.email}"></span></p>-->
<!--</div>-->

<!--<form action="#" th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Logout">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
